<div class="container text-center">
  <div class="row justify-content-center">
    <div class="col-md-5 col-lg-5 col-sm-5">
      <img src="assets/avatar.png" class="rounded-circle mb-3" width="180" alt="avatar">
      <h1 class="title fw-bolder">Hi! I'm Toufeeq Kalam! 👋</h1>
      <hr class="divider"/>
      <p class="lead fw-light" style="line-height: 125%">I’m a software engineer driven by building solutions that empower people - turning complex challenges into simple, meaningful experiences. For me, it's more than just coding, it's creating value that matters 🚀</p>
      <a mat-flat-button [disabled]="true" color="accent" href="{{route + 'blog'}}">BLOG .. COMING SOON <mat-icon class="blog-icon">construction</mat-icon></a>
    </div>
  </div>
</div>
