<div class="container text-center">
  <div class="row justify-content-center">
    <div class="col-md-5 col-lg-5 col-sm-5">
      <img src="assets/avatar.png" class="rounded-circle mb-3" width="180" alt="avatar">
      <h1 class="title fw-bolder">Hi! I'm Toufeeq Kalam! 👋</h1>
      <hr class="divider"/>
      <p class="lead fw-light" style="line-height: 125%">I’m a software engineer. I make websites, apps and a bunch of other stuff. I build stuff that makes other people’s lives better. That’s really cool to me because it feels fundamentally important 🚀</p>
      <a mat-flat-button color="accent" href="{{route + 'blog'}}">Blog Coming soon.. <mat-icon class="blog-icon">edit_square</mat-icon></a>
    </div>
  </div>
</div>
