<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav">
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">clear</mat-icon>
      </button>
      <span>TOUFEEQKALAM.</span>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="https://www.linkedin.com/in/toufeeqkalam" target="_blank">LinkedIn</a>
      <mat-divider></mat-divider>
      <a mat-list-item href="https://github.com/toufeeqkalam" target="_blank">GitHub</a>
      <mat-divider></mat-divider>
      <a mat-list-item href="https://twitter.com/toufeeqkalam" target="_blank">Twitter</a>
      <mat-divider></mat-divider>
      <a mat-list-item href="mailto:toufeeq.kalam@gmail.com">Email</a>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
<!--      <button-->
<!--        type="button"-->
<!--        mat-icon-button-->
<!--        (click)="drawer.toggle()">-->
<!--        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>-->
<!--      </button>-->
      <span><mat-icon class="code-icon">code</mat-icon>TOUFEEQKALAM</span>
      <span class="spacer"></span>
      <div [hidden]="isMobile" class="social-icons">
        <a mat-icon-button href="https://www.linkedin.com/in/toufeeqkalam" target="_blank">
          <fa-icon [icon]="faLinkedIn"></fa-icon>
        </a>
        <a mat-icon-button href="https://github.com/toufeeqkalam" target="_blank">
          <fa-icon [icon]="faGithub"></fa-icon>
        </a>
        <a mat-icon-button href="https://twitter.com/ToufeeqKalam" target="_blank">
          <fa-icon [icon]="faTwitter"></fa-icon>
        </a>
        <a mat-icon-button href="mailto:toufeeq.kalam@gmail.com">
          <fa-icon [icon]="faEnvelope"></fa-icon>
        </a>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
